header h1 {
  text-align: center;
  line-height: 150%;
}
header {
  background-color: bisque;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inside1 {
  justify-content: center;
}
.contenu {
  justify-content: center;
}
#title {
  text-decoration: none;
  color: black;
}
body {
  background-image: url("stock.jpg");
  background-size: cover;
}
.position{
  justify-content: center;
  margin-top: 10%;
}
#titlestock{
  text-align: center;
  margin-top: 5%;
  color:white;
}
.accordion-body{
  background-color: white;
}
.accordion-button.collapsed{
  background-color:bisque;
  color:black;
  border-radius: 10px;
}
