header h1 {
  text-align: center;
  line-height: 150%;
}
header {
  background-color: bisque;
}
.inside1 {
  justify-content: center;
}
.contenu {
  justify-content: center;
}
.deleteButton{
  background-color: red; 
  border: none; 
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
}
.deleteButton:hover {
  background-color: red;
}